<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.purchase.goodsinquiry.dao.GoodsUnitMapper">
  <resultMap id="BaseResultMap" type="com.zhkj.purchase.goodsinquiry.domain.GoodsUnit">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="guni_uuid" jdbcType="BIGINT" property="guniUuid" />
    <result column="guni_good_uuid" jdbcType="BIGINT" property="guniGoodUuid" />
    <result column="guni_spec" jdbcType="INTEGER" property="guniSpec" />
    <result column="guni_guen_uuid" jdbcType="BIGINT" property="guniGuenUuid" />
    <result column="guni_sort" jdbcType="BIT" property="guniSort" />
    <result column="guni_data_status" jdbcType="BIT" property="guniDataStatus" />
    <result column="guni_day_sale" jdbcType="DECIMAL" property="guniDaySale" />
    <result column="guni_sale" jdbcType="DECIMAL" property="guniSale" />
    <result column="guni_early_stage_price" jdbcType="DECIMAL" property="guniEarlyStagePrice" />
    <result column="guni_early_stage_number" jdbcType="DECIMAL" property="guniEarlyStageNumber" />
    <result column="guni_current_issue_price" jdbcType="DECIMAL" property="guniCurrentIssuePrice" />
    <result column="guni_current_issue_number" jdbcType="DECIMAL" property="guniCurrentIssueNumber" />
    <result column="guni_emer_current_issue_price" jdbcType="DECIMAL" property="guniEmerCurrentIssuePrice" />
    <result column="guni_emer_current_issue_number" jdbcType="DECIMAL" property="guniEmerCurrentIssueNumber" />
    <result column="guni_early_stage_unit_price" jdbcType="DECIMAL" property="guniEarlyStageUnitPrice" />
  </resultMap>
</mapper>