<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.purchase.mallpurchplan.dao.MallPurchPlanMessageMapper">
  <resultMap id="BaseResultMap" type="com.zhkj.purchase.mallpurchplan.domain.MallPurchPlanMessage">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="mppm_uuid" jdbcType="BIGINT" property="mppmUuid" />
    <result column="mppm_mppl_uuid" jdbcType="BIGINT" property="mppmMpplUuid" />
    <result column="mppm_mppd_uuid" jdbcType="BIGINT" property="mppmMppdUuid" />
    <result column="mppm_mppd_purch_number" jdbcType="DECIMAL" property="mppmMppdPurchNumber" />
    <result column="mppm_sure_number" jdbcType="DECIMAL" property="mppmSureNumber" />
    <result column="mppm_message_number" jdbcType="DECIMAL" property="mppmMessageNumber" />
    <result column="mppm_message_user_uuid" jdbcType="BIGINT" property="mppmMessageUserUuid" />
    <result column="mppm_message_user_name" jdbcType="VARCHAR" property="mppmMessageUserName" />
    <result column="mppm_create_user_uuid" jdbcType="BIGINT" property="mppmCreateUserUuid" />
    <result column="mppm_mppd_good_uuid" jdbcType="BIGINT" property="mppmMppdGoodUuid" />
    <result column="mppm_mppd_good_name" jdbcType="VARCHAR" property="mppmMppdGoodName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="mppm_message_date_status" jdbcType="BIT" property="mppmMessageDateStatus" />
    <result column="mppm_unit_uuid" jdbcType="BIGINT" property="mppmUnitUuid" />
    <result column="mppm_unit" jdbcType="VARCHAR" property="mppmUnit" />
  </resultMap>
</mapper>