<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.purchase.mallpurchplantemporary.dao.MemberMapper">
  <resultMap id="BaseResultMap" type="com.zhkj.purchase.mallpurchplantemporary.domain.Member">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="BIGINT" property="id" />
    <result column="memb_uuid" jdbcType="BIGINT" property="membUuid" />
    <result column="memb_ente_uuid" jdbcType="BIGINT" property="membEnteUuid" />
    <result column="memb_real_name" jdbcType="VARCHAR" property="membRealName" />
    <result column="memb_user_name" jdbcType="VARCHAR" property="membUserName" />
    <result column="memb_nike_name" jdbcType="VARCHAR" property="membNikeName" />
    <result column="memb_password" jdbcType="VARCHAR" property="membPassword" />
    <result column="memb_comp_uuid" jdbcType="BIGINT" property="membCompUuid" />
    <result column="memb_grade" jdbcType="BIT" property="membGrade" />
    <result column="memb_phone" jdbcType="VARCHAR" property="membPhone" />
    <result column="memb_email" jdbcType="VARCHAR" property="membEmail" />
    <result column="memb_place" jdbcType="VARCHAR" property="membPlace" />
    <result column="memb_address" jdbcType="VARCHAR" property="membAddress" />
    <result column="memb_online_tag" jdbcType="VARCHAR" property="membOnlineTag" />
    <result column="memb_client_salt" jdbcType="VARCHAR" property="membClientSalt" />
    <result column="memb_head" jdbcType="VARCHAR" property="membHead" />
    <result column="memb_sex" jdbcType="BIT" property="membSex" />
    <result column="memb_birthday" jdbcType="DATE" property="membBirthday" />
    <result column="memb_salesman" jdbcType="BIGINT" property="membSalesman" />
    <result column="memb_order_time" jdbcType="TIME" property="membOrderTime" />
    <result column="memb_advance" jdbcType="BIT" property="membAdvance" />
    <result column="memb_cod" jdbcType="BIT" property="membCod" />
    <result column="memb_fast" jdbcType="BIT" property="membFast" />
    <result column="memb_status" jdbcType="BIT" property="membStatus" />
    <result column="memb_data_status" jdbcType="BIT" property="membDataStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="SBaseResultMap" type="com.zhkj.purchase.mallpurchplantemporary.domain.SearchMember">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id"/>
    <result column="memb_uuid" jdbcType="BIGINT" property="membUuid"/>
    <result column="memb_ente_uuid" jdbcType="BIGINT" property="membEnteUuid"/>
    <result column="memb_real_name" jdbcType="VARCHAR" property="membRealName"/>
    <result column="memb_user_name" jdbcType="VARCHAR" property="membUserName"/>
    <result column="memb_nike_name" jdbcType="VARCHAR" property="membNikeName"/>
    <result column="memb_password" jdbcType="VARCHAR" property="membPassword"/>
    <result column="memb_comp_uuid" jdbcType="BIGINT" property="membCompUuid"/>
    <result column="memb_grade" jdbcType="BIT" property="membGrade"/>
    <result column="memb_phone" jdbcType="VARCHAR" property="membPhone"/>
    <result column="memb_email" jdbcType="VARCHAR" property="membEmail"/>
    <result column="memb_place" jdbcType="VARCHAR" property="membPlace"/>
    <result column="memb_address" jdbcType="VARCHAR" property="membAddress"/>
    <result column="memb_online_tag" jdbcType="VARCHAR" property="membOnlineTag"/>
    <result column="memb_client_salt" jdbcType="VARCHAR" property="membClientSalt"/>
    <result column="memb_head" jdbcType="VARCHAR" property="membHead"/>
    <result column="memb_sex" jdbcType="BIT" property="membSex"/>
    <result column="memb_birthday" jdbcType="DATE" property="membBirthday"/>
    <result column="memb_salesman" jdbcType="BIGINT" property="membSalesman"/>
    <result column="memb_order_time" jdbcType="TIME" property="membOrderTime"/>
    <result column="memb_advance" jdbcType="BIT" property="membAdvance"/>
    <result column="memb_cod" jdbcType="BIT" property="membCod"/>
    <result column="memb_fast" jdbcType="BIT" property="membFast"/>
    <result column="memb_status" jdbcType="BIT" property="membStatus"/>
    <result column="memb_data_status" jdbcType="BIT" property="membDataStatus"/>
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
    <result column="mten_name" jdbcType="VARCHAR" property="mtenName"/>
  </resultMap>

  <select id="search" parameterType="com.zhkj.purchase.mallpurchplantemporary.domain.request.SearchMemberParams"
          resultMap="SBaseResultMap">
    SELECT memb.*,mte.mten_name
    FROM member memb
    LEFT JOIN member_type mt ON memb.memb_uuid=mt.mtyp_memb_uuid
    LEFT JOIN member_type_enum mte ON mt.mtyp_mten_uuid= mte.mten_uuid
    WHERE memb.memb_data_status=0
    <if test="membUuid != null">
      AND memb.memb_uuid = #{membUuid}
    </if>
    <if test="membEnteUuid != null">
      AND memb.memb_ente_uuid = #{membEnteUuid}
    </if>
    <if test="membRealName != null and membRealName != ''">
      AND memb.memb_real_name LIKE CONCAT('%',#{membRealName},'%')
    </if>
    <if test="membNikeName != null and membNikeName != ''">
      AND memb.memb_nike_name LIKE CONCAT('%',#{membNikeName},'%')
    </if>
    <if test="membUserName != null and membUserName != ''">
      AND memb.memb_user_name LIKE CONCAT('%',#{membUserName},'%')
    </if>
    <if test="mtenUuid != null">
      AND mte.mten_uuid = #{mtenUuid}
    </if>
  </select>
</mapper>