<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.nettyserver.message.dao.SystemUserMapper">
  <resultMap id="BaseResultMap" type="com.zhkj.nettyserver.message.domain.PublicUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="suse_uuid" jdbcType="BIGINT" property="suseUuid" />
    <result column="suse_mall_uuid" jdbcType="BIGINT" property="suseMallUuid" />
    <result column="suse_depa_uuid" jdbcType="BIGINT" property="suseDepaUuid" />
    <result column="suse_admin_repe_uuid" jdbcType="VARCHAR" property="suseAdminRepeUuid" />
    <result column="suse_user_name" jdbcType="VARCHAR" property="suseUserName" />
    <result column="suse_real_name" jdbcType="VARCHAR" property="suseRealName" />
    <result column="suse_nike_name" jdbcType="VARCHAR" property="suseNikeName" />
    <result column="suse_password" jdbcType="VARCHAR" property="susePassword" />
    <result column="suse_online_tag" jdbcType="VARCHAR" property="suseOnlineTag" />
    <result column="suse_client_salt" jdbcType="VARCHAR" property="suseClientSalt" />
    <result column="suse_head" jdbcType="VARCHAR" property="suseHead" />
    <result column="suse_sex" jdbcType="BIT" property="suseSex" />
    <result column="suse_birthday" jdbcType="DATE" property="suseBirthday" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>