<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.purchase.system.dao.SystemUserLogMapper">
    <resultMap id="BaseResultMap" type="com.zhkj.purchase.system.domain.SystemUserLog">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="sulo_suse_uuid" jdbcType="BIGINT" property="suloSuseUuid"/>
        <result column="sulo_ip" jdbcType="VARCHAR" property="suloIp"/>
        <result column="sulo_client_info" jdbcType="VARCHAR" property="suloClientInfo"/>
        <result column="sulo_login_time" jdbcType="TIMESTAMP" property="suloLoginTime"/>
    </resultMap>
</mapper>