<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhkj.nettyserver.weixin.dao.WeixinTemplateMsgMapper">
  <resultMap id="BaseResultMap" type="com.zhkj.nettyserver.weixin.domain.WeixinTemplateMsg">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="wtms_uuid" jdbcType="BIGINT" property="wtmsUuid" />
    <result column="wtms_ewxi_uuid" jdbcType="BIGINT" property="wtmsEwxiUuid" />
    <result column="wtms_template_id" jdbcType="VARCHAR" property="wtmsTemplateId" />
    <result column="wtms_to_user" jdbcType="LONGVARCHAR" property="wtmsToUser" />
  </resultMap>
</mapper>